<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by Joe Maldonado. He is an aspiring web developer and is a student at <a target="blank" href="http://www.thefirehoseproject.com/">theFirehoseproject</a>. 
	</p>
	<br />
	<p>
		This idea stemmed from his passion of movies. There are so many great (and bad) movies with memorable lines that stay with us for better (or worse). 
	</p>


	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'joe.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Joe Maldonado</h2>
		<br />
		<p>
			Previously, Joe worked as a higher-ed administrator at the New York Conservatory for Dramatic Arts and in the travel industry with Air France. He has a passion for film, television and all things tech. As a newlywed, he looks forward to the adventure that is marriage! He also enjoys spending time with his English Bulldog, who serves as a great sounding board and problem solver.
		</p>
	</div>
	<br class="clear" />
</p>
</div>
	

</div>

<br class="clear" />
<br />
<br />
<br />
<br />